<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AI配置管理界面</title>
    <script th:src="@{/Content/Scripts/Master/jquery-2.1.1.min.js}"></script>
    <script th:src="@{/Content/Scripts/Master/layuiadmin/layui/layui.js}"></script>
</head>
<body>


</body>
<script>
    //功能优化
    $(function () {
        aiConfig();
    })
    function aiConfig() {
        layui.use('layer', function () {
            layer.alert("功能正在开发中，敬请期待...");
        })
    }
</script>

</html>