<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>角色页面</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/Content/Scripts/Master/layuiadmin/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/Content/Scripts/Master/layuiadmin/style/admin.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/Content/Scripts/Master/zTree/css/zTreeStyle/zTreeStyle.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/Content/style/css/list_public.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/Content/style/css/popup.css}" media="all"/>
    <script th:src="@{/Content/Scripts/Master/layuiadmin/layui/layui.js}"></script>
    <script th:src="@{/Content/Scripts/Master/jquery-2.1.1.min.js}"></script>
    <script th:src="@{/Content/Scripts/Master/zTree/js/jquery.ztree.all.min.js}"></script>
    <script th:src="@{/Content/Scripts/Master/layuiadmin/layui/lay/modules/form.js}"></script>
    <!--自定义js 文件 主要为了token过期后跳转登陆页面-->
    <script th:src="@{/Content/Scripts/Master/check_token.js}"></script>
    <style>
        .layui-table-cell .layui-form-checkbox[lay-skin="primary"] {
            top: 35%;
            transform: translateY(-50%);
        }
    </style>
</head>
<body>
<div class="layui-fluid list-box">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <!--顶部工具条添加角色按钮-->
                    <script type="text/html" id="toolbarDemo">
                        <div class="layui-btn-container list-btn-group">
                            <a class="layui-btn icon-add" lay-event="getCheckData" onclick="insertUser()">添加角色</a>
                            <button class="layui-btn test icon-revise" lay-event="getCheckData" onclick="editService()">
                                编辑
                            </button>
                            <button class="layui-btn test icon-delete" lay-event="getCheckData"
                                    onclick="deleteService()">删除
                            </button>
                        </div>
                    </script>
                    <!--右侧工具条上的查看，编辑和删除-->
                    <script type="text/html" id="barDemo">
                        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
                    </script>
                    <!--表格位置-->
                    <table class="layui-hide" id="test-table-operate" lay-filter="test-table-operate"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--添加角色弹窗-->
<div class="layui-row layui-popup" id="tab-list"
     style="display: none;">
    <div>
        <form class="layui-form" lay-filter="formTestFilter" id="insert">
            <div class="layui-form-item">
                <div class="layui-inline inline-margin-right">
                    <span class="asterisk">*</span>
                    <label class="layui-form-label">角色名称：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="roleName" id="nameId" class="layui-input" placeholder="请输入角色名称">
                    </div>
                </div>
                <div class="layui-input-inline">
                    <input type="hidden" id="webpermissionId" name="webpermissionId" class="layui-input">
                    <input type="hidden" id="datapermissionId" name="datapermissionId" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline inline-margin-right">
                    <span class="asterisk"></span>
                    <label class="layui-form-label">描述：</label>
                    <div class="layui-input-inline textarea">
                        <textarea type="text" name="description" placeholder="不超过500字"
                                  class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>
        </form>
        <div class="ztree-box">
            <ul id="planTree" class="ztree"></ul>
        </div>
        <div class="ztree-box">
            <ul id="interfaceTree" class="ztree"></ul>
        </div>
    </div>
</div>

<!--查看角色弹窗-->
<div class="layui-row layui-popup" id="tab-chakan" style="display: none;">
    <div>
        <form class="layui-form" lay-filter="formTestFilter" id="chakan">
            <div class="layui-form-item">
                <div class="layui-inline inline-margin-right">
                    <span class="asterisk">*</span>
                    <label class="layui-form-label">角色名称：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="roleName" id="chakan-nameId" readonly="true" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline inline-margin-right">
                        <span class="asterisk"></span>
                        <label class="layui-form-label">描述：</label>
                        <div class="layui-input-inline textarea">
                            <textarea type="text" name="description" id="chakan-descriptionId" class="layui-textarea">
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="layui-input-inline">
                    <input type="hidden" id="chakan-roleId" name="ids" class="layui-input">
                </div>
            </div>
        </form>
        <div class="ztree-box">
            <ul id="chakanTree" class="ztree"></ul>
        </div>
        <div class="ztree-box">
            <ul id="chakanInterfaceTree" class="ztree"></ul>
        </div>
    </div>
</div>

<!--编辑角色弹窗-->
<div class="layui-row layui-popup" id="tab-edit" style="display: none;">
    <div>
        <form class="layui-form" lay-filter="formTestFilter" id="editRole">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="hidden" id="edit-roleId" name="roleId" class="layui-input">
                </div>
                <div class="layui-inline inline-margin-right">
                    <span class="asterisk">*</span>
                    <label class="layui-form-label">角色名称:</label>
                    <div class="layui-input-inline">
                        <input type="text" name="roleName" id="edit-nameId" class="layui-input">
                    </div>
                </div>
                <div class="layui-input-inline">
                    <input type="hidden" id="edit-webpermissionId" name="webpermissionId" class="layui-input">
                    <input type="hidden" id="edit-datapermissionId" name="datapermissionId" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline inline-margin-right">
                    <span class="asterisk"></span>
                    <label class="layui-form-label">描述:</label>
                    <div class="layui-input-inline textarea">
                        <textarea type="text" name="description" id="edit-descriptionId"
                                  class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>
        </form>
        <div class="ztree-box">
            <ul id="editTree" class="ztree"></ul>
        </div>
        <div class="ztree-box">
            <ul id="editInterfaceTree" class="ztree"></ul>
        </div>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">
    var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
    var access_token = window.localStorage.getItem("access_token"); //获取指定key本地存储的值
    layui.config({
        base: '../../Content/Scripts/Master/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'laydate', 'table'], function () {
        var $ = layui.$
            , admin = layui.admin
            , element = layui.element
            , layer = layui.layer
            , laydate = layui.laydate
            , form = layui.form
            , table = layui.table;

        form.render(null, 'component-form-group');

        laydate.render({
            elem: '#LAY-component-form-group-date'
        });
        table.render({
            headers: {
                "access_token": access_token//此处放置请求到的用户token
            },
            elem: '#test-table-operate',
            url: basePath + '/role/selectAllRole?&&ieRandom=' + new Date().getTime()
            , id: 'tableId'
            , toolbar: '#toolbarDemo'
            , defaultToolbar: []
            , height: 'full-15'
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'},
                    {field: 'roleId', title: 'roleId', hide: true},
                    {field: 'roleName', title: '角色名称', width: 200}
                    , {field: 'description', title: '描述', minWidth: 100}
                    , {field: 'barDemo', width: 200, align: 'center', title: '常用操作', toolbar: '#barDemo'}
                ]
            ],
            page: true,
            limits: [20, 40],
            limit: 20
        });
    });

    function insertUser() {
        document.getElementById("insert").reset();//重置form表单
        layer.open({
            title: '添加角色信息'
            , type: 1
            , content: $("#tab-list")
            , btn: ['确定', '取消']
            , btnAlign: 'c'
            , shade: 0.3
            , yes: function (index) {
                // 获取选中的节点数据
                var addResult = addVerify();
                if (!addResult) {
                    return false;
                }
                var treeObj = $.fn.zTree.getZTreeObj("planTree");
                var webnodes= treeObj.getNodes(); //可以获取所有的父节点
                var interfaceTreeObj = $.fn.zTree.getZTreeObj("interfaceTree");
                var datanodes= interfaceTreeObj.getNodes(); //可以获取所有的父节点
                var nodes = treeObj.getCheckedNodes(true);
                var nodesInterfaceTree = interfaceTreeObj.getCheckedNodes(true);
                //已选择的复选框roleid
                var webv="";
                var shuv="";
                if (nodes.length != 0||nodesInterfaceTree.length!=0) {
                     //页面权限判断
                    if(nodes.length!=0){
                        for (var i = 0; i < nodes.length; i++) {
                            webv += nodes[i].permissionId + ",";
                        }
                    } else {
                        webv +=webnodes[0].permissionId+",";
                    }
                    if(nodesInterfaceTree.length!=0){
                        for (var i = 0; i < nodesInterfaceTree.length; i++) {
                            shuv += nodesInterfaceTree[i].permissionId + ",";
                            // alert( v)
                        }
                    }else {
                        shuv +=datanodes[0].permissionId;
                    }
                    // console.log(webv);
                    // console.log(shuv);
                    if(webv!=undefined){
                        webv = (webv.substring(webv.length - 1) == ',') ? webv.substring(0, webv.length - 1) : webv;
                        //给input的value赋值
                        $("#webpermissionId").val(webv);
                    }
                    if(shuv!=undefined){
                        shuv = (shuv.substring(shuv.length - 1) == ',') ? shuv.substring(0, shuv.length - 1) : shuv;
                        $("#datapermissionId").val(shuv);
                    }
                    $.ajax({
                        type: "POST",
                        headers: {
                            "access_token": access_token//此处放置请求到的用户token
                        },
                        url: basePath + "/role/insertRole",
                        data: $("#insert").serialize(),
                        success: function (result) {
                            if (result.code == -1) {
                                layer.msg("添加失败，描述字符超出限制", {time: 1000, icon: 2, shift: 6}, function () {
                                });
                            }
                            layer.msg("添加角色成功", {time: 800, icon: 1}, function () {
                                location.reload(true);
                            })
                        }
                        , error: function (msg) {
                            layer.msg("添加失败，请检查角色名", {time: 1000, icon: 2, shift: 6}, function () {
                            });
                        }

                    });
                    layer.close(index);
                } else {
                    layer.msg("请选择需要分配的权限节点", {time: 2000, icon: 7, shift: 6}, function () {
                    });
                }

            }
            , area: ["850px", "400px"]
        });
    }
    //ZTREE
    $(function () {
        init();
    });

    function init() {
        builePlanTree();
    }

    function builePlanTree() {
        var setting = {
            view: {
                showIcon: true
            },
            data: {
                simpleData: {
                    enable: true
                },
                key: {
                    name: "permissionName"  //  发现问题在这里， name属性为节点要显示名字
                },
            },
            check: {
                enable: true,//开启复选框
                chkStyle: "checkbox",//样式
                chkboxType: {"Y": "ps", "N": "ps"},// 勾选操作，影响父和子级节点；取消勾选操作，影响父和子级节点
            },
            callback: {}
        }

        // 初始化树，数据是动态的，执行ajax程序对tree的数据进行获取，完成树初始化
        $.ajax({
            url: basePath + "/permission/selectAllPermissionTree",//这里可以改为服务器端action
            headers: {
                "access_token": access_token//此处放置请求到的用户token
            },
            type: 'POST',//提交方式
            dataType: 'text',//数据类型
            success: function (data) {  //回调函数
                // console.log(data)
                var jsonObj = JSON.parse(data); //转换为json对象
                var rootss = jsonObj.roots;
                var interfaceRoots = jsonObj.interfaceRoots;
                // console.log(rootss);
                // console.log(interfaceRoots);
                //页面权限
                var zNodes = eval(rootss); // eval 可以将返回 json字符串 转换 js 对象
                //接口权限
                var zNodeInterfaceRoots = eval(interfaceRoots); // eval 可以将返回 json字符串 转换 js 对象
                // var zNodeInterfaceRoots= eval("(" + data.interfaceRoots+ ")"); // eval 可以将返回 json字符串 转换 js 对象
                $.fn.zTree.init($("#planTree"), setting, zNodes); //初始化树
                $.fn.zTree.init($("#interfaceTree"), setting, zNodeInterfaceRoots); //初始化树
            },
            error: function (msg) {
                layer.alert('树加载异常!');
            }
        });
    }

    function addVerify() {
        var roleName = $("#nameId").val();
        if (roleName == null || "" == (roleName)) {
            layer.msg("请输入用户名！", {time: 1000, icon: 2, shift: 6}, function () {
            });
            return false;
        }
        return true;
    }

</script>

<!--表格重载js-->
<script>
    layui.use(['table', 'layer'], function () {
        var table = layui.table
            , layer = layui.layer;
        var $ = layui.$, active = {
            reload: function () {
                //执行重载
                table.reload('tableId', {
                    page: {
                        curr: 1
                    }
                });
            },
        };
    });
</script>

<!--查看，编辑和删除js实现-->
<script>
    // 实例化表单,让表单上面的数据显示
    layui.use(['table', 'element', 'layer'], function () {
        var $ = layui.jquery
            , layer = layui.layer        //弹层
            , table = layui.table      //表格
        table.render();
        //监听工具条
        table.on('tool(test-table-operate)', function (obj) {
            //注：tool是工具条事件名，test-table-operate是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值

            if (layEvent === 'detail') {
                layer.open({
                    type: 1
                    , title: '查看角色信息'
                    , area: ["850px", "400px"]
//                    ,closeBtn:false
                    , btn: '确定'
                    , btnAlign: 'c'
                    , content: $("#tab-chakan")
                });
                $("#chakan-nameId").val(data.roleName);
                $("#chakan-descriptionId").val(data.description);
                //layer.alert(data.userId);
                // 根据角色id查询权限渲染树
                //ZTREE
                $(function () {
                    init();
                });

                function init() {
                    builePlanTree();
                }

                function builePlanTree() {
                    var setting = {
                        view: {
                            showIcon: true
                        },
                        data: {
                            simpleData: {
                                enable: true
                            },
                            key: {
                                name: "permissionName"  //  发现问题在这里， name属性为节点要显示名字
                            },
                        },
                        check: {
                            enable: true,//开启复选框
                            chkStyle: "checkbox",//样式
                            chkboxType: {"Y": "ps", "N": "ps"},// 勾选操作，影响父和子级节点；取消勾选操作，影响父和子级节点
                        },
                        callback: {}
                    }

                    // 初始化树，数据是动态的，执行ajax程序对tree的数据进行获取，完成树初始化
                    $.ajax({
                        url: basePath + '/permission/selectAllPermissionTreeByRoleId',//这里可以改为服务器端action
                        headers: {
                            "access_token": access_token//此处放置请求到的用户token
                        },
                        type: 'POST',//提交方式
                        dataType: 'text',//数据类型
                        data: {
                            "roleId": data.roleId
                        },
                        success: function (treedata) {  //回调函数
                            //alert("树成功函数");
                            var jsonObj = JSON.parse(treedata); //转换为json对象
                            var rootss = jsonObj.roots;
                            var interfaceRoots = jsonObj.interfaceRoots;
                            //页面权限
                            var zNodes = eval(rootss); // eval 可以将返回 json字符串 转换 js 对象
                            //接口权限
                            var zNodeInterfaceRoots = eval(interfaceRoots); // eval 可以将返回 json字符串 转换 js 对象
                            // var zNodes = eval("(" + treedata + ")"); // eval 可以将返回 json字符串 转换 js 对象
                            $.fn.zTree.init($("#chakanTree"), setting, zNodes); //初始化树
                            $.fn.zTree.init($("#chakanInterfaceTree"), setting, zNodeInterfaceRoots); //初始化树
                        },
                        error: function (msg) {
                            layer.alert('树加载异常!');
                        }
                    });
                }

            } else if (layEvent === 'edit') {
                layer.open({
                    type: 1
                    , title: '编辑角色数据'
                    , area: ["850px", "400px"]
//                    ,closeBtn:false
                    , btn: ['确认更改', '取消']
                    , btnAlign: 'c'
                    , content: $("#tab-edit")
                    , yes: function (index) {
                        // 获取选中的节点数据
                        var treeObj = $.fn.zTree.getZTreeObj("editTree");
                        var treeObjInterfaceTree = $.fn.zTree.getZTreeObj("editInterfaceTree");
                        var nodes = treeObj.getCheckedNodes(true);
                        var nodesInterfaceTree= treeObjInterfaceTree.getCheckedNodes(true);
                        var v; //已选择的复选框roleid
                        if (nodes.length == 0) {
                            layer.msg("请选择需要分配的权限节点", {time: 2000, icon: 5, shift: 6}, function () {
                            });
                        } else {
                            v = "";
                            for (var i = 0; i < nodes.length; i++) {
                                v += nodes[i].permissionId + ",";
                            }
                            for (var i = 0; i < nodesInterfaceTree.length; i++) {
                                v += nodesInterfaceTree[i].permissionId + ",";
                            }
                            v = (v.substring(v.length - 1) == ',') ? v.substring(0, v.length - 1) : v;
                            //给input的value赋值
                            $("#edit-permissionId").val(v);
                            $("#edit-roleId").val(data.roleId);
                            $.ajax({
                                type: 'POST',
                                headers: {
                                    "access_token": access_token//此处放置请求到的用户token
                                },
                                url: basePath + '/role/updateByPrimaryKeySelective',
                                data: $("#editRole").serialize(),
                                success: function (result) {
                                    layer.msg("修改角色信息成功", {time: 800, icon: 6}, function () {
                                        location.reload(true);
                                    })
                                }
                                , error: function (msg) {
                                    layer.msg("修改角色信息失败", {time: 1000, icon: 5, shift: 6}, function () {
                                    });
                                }

                            });
                            layer.close(index);
                        }
                    }
                });
                $("#edit-nameId").val(data.roleName);
                $("#edit-descriptionId").val(data.description);
                // 根据用户id查询角色渲染树
                //ZTREE
                $(function () {
                    init();
                });

                function init() {
                    builePlanTree();
                }

                function builePlanTree() {
                    var setting = {
                        view: {
                            showIcon: true
                        },
                        data: {
                            simpleData: {
                                enable: true
                            },
                            key: {
                                name: "permissionName"  //  发现问题在这里， name属性为节点要显示名字
                            },
                        },
                        check: {
                            enable: true,//开启复选框
                            chkStyle: "checkbox",//样式
                            chkboxType: {"Y": "ps", "N": "ps"},// 勾选操作，影响父和子级节点；取消勾选操作，影响父和子级节点
                        },
                        callback: {}
                    };

                    // 初始化树，数据是动态的，执行ajax程序对tree的数据进行获取，完成树初始化
                    $.ajax({
                        url: basePath + '/permission/selectAllPermissionTreeByRoleId',//这里可以改为服务器端action
                        type: 'POST',//提交方式
                        headers: {
                            "access_token": access_token//此处放置请求到的用户token
                        },
                        dataType: 'text',//数据类型
                        data: {
                            "roleId": data.roleId
                        },
                        success: function (treedata) {  //回调函数
                            //alert("树成功函数");
                            var jsonObj = JSON.parse(treedata); //转换为json对象
                            var rootss = jsonObj.roots;
                            var interfaceRoots = jsonObj.interfaceRoots;
                            //页面权限
                            var zNodes = eval(rootss); // eval 可以将返回 json字符串 转换 js 对象
                            //接口权限
                            var zNodeInterfaceRoots = eval(interfaceRoots); // eval 可以将返回 json字符串 转换 js 对象
                            // var zNodes = eval("(" + treedata + ")"); // eval 可以将返回 json字符串 转换 js 对象
                            $.fn.zTree.init($("#editTree"), setting, zNodes); //初始化树
                            $.fn.zTree.init($("#editInterfaceTree"), setting, zNodeInterfaceRoots); //初始化树
                        },
                        error: function (msg) {
                            layer.alert('树加载异常!');
                        }
                    });
                }
            } else if (layEvent === 'del') {
                layer.alert('将要删除该行数据,确定吗?', {
//                    closeBtn: 0    // 是否显示关闭按钮
                    anim: 6
                    , btn: ['确定', '取消'] //按钮
                    , yes: function (index) {
                        var getData = new Object();
                        getData.roleId = data.roleId;
                        $.ajax({
                            url: basePath + '/role/deleteRoleAndPermissionByRoleId',
                            headers: {
                                "access_token": access_token//此处放置请求到的用户token
                            },
                            type: 'post',
                            data: getData,
                            dataType: 'json',
                            success: function (res) {
                                layer.msg("删除角色成功", {time: 800, icon: 1}, function () {
                                    location.reload(true);
                                })
                            },
                            error: function (msg) {
                                layer.msg("删除角色失败，存在关联用户", {time: 800, icon: 2, shift: 6}, function () {
                                })
                            }
                        });
                        layer.close(index);
                    }
                });
            }
        });
    });
</script>

<!--顶部编辑和删除js实现-->
<script>
    //修改角色
    function editService() {
        layui.use(['table', 'layer', 'jquery', 'form'], function () {
            var table = layui.table
                , layer = layui.layer
                , $ = layui.$
                , form = layui.form;
            //alert("asdfa");
            var checkStatus = table.checkStatus('tableId')
                , data = checkStatus.data;
            if (data.length > 0) {
                if (data.length > 1) {
                    layer.alert("只能选择一条要编辑的数据!")
                } else {
                    var str = new Array();
                    for (var i = 0; i < data.length; i++) {
                        str[i] = data[i]
                    };
                    layer.open({
                        type: 1
                        , title: '编辑角色数据'
                        , area: ["850px", "400px"]
//                    ,closeBtn:false
                        , btn: ['确认更改', '取消']
                        , btnAlign: 'c'
                        , content: $("#tab-edit")
                        , yes: function (index) {
                            // 获取选中的节点数据
                            var treeObj = $.fn.zTree.getZTreeObj("editTree");
                            var treeObjInterfaceTree = $.fn.zTree.getZTreeObj("editInterfaceTree");
                            var nodesInterfaceTree= treeObjInterfaceTree.getCheckedNodes(true);
                            var nodes = treeObj.getCheckedNodes(true);
                            var webnodes= treeObj.getNodes(); //可以获取所有的父节点
                            var datanodes= treeObjInterfaceTree.getNodes(); //可以获取所有的父节点
                            //已选择的复选框roleid
                            var webv="";
                            var shuv="";
                            if (nodes.length != 0||nodesInterfaceTree.length!=0) {
                                //页面权限
                                if(nodes.length!=0){
                                    for (var i = 0; i < nodes.length; i++) {
                                        webv += nodes[i].permissionId + ",";
                                    }
                                }else {
                                    webv +=webnodes[0].permissionId+",";
                                }
                                //数据权限
                                if(nodesInterfaceTree.length!=0){
                                    for (var i = 0; i < nodesInterfaceTree.length; i++) {
                                        shuv += nodesInterfaceTree[i].permissionId + ",";
                                        // alert( v)
                                    }
                                }else {
                                    shuv +=datanodes[0].permissionId;
                                }
                                if(webv!=undefined){
                                    webv = (webv.substring(webv.length - 1) == ',') ? webv.substring(0, webv.length - 1) : webv;
                                    //给input的value赋值
                                    $("#edit-webpermissionId").val(webv);
                                }
                                if(shuv!=undefined){
                                    shuv = (shuv.substring(shuv.length - 1) == ',') ? shuv.substring(0, shuv.length - 1) : shuv;
                                    $("#edit-datapermissionId").val(shuv);
                                }
                                //给input的value赋值
                                $("#edit-roleId").val(str[0].roleId);
                                $.ajax({
                                    type: 'POST',
                                    headers: {
                                        "access_token": access_token//此处放置请求到的用户token
                                    },
                                    url: basePath + '/role/updateByPrimaryRoleSelective',
                                    data: $("#editRole").serialize(),
                                    success: function (result) {
                                        layer.msg("修改角色信息成功", {time: 800, icon: 6}, function () {
                                            location.reload(true);
                                        })
                                    }
                                    , error: function (msg) {
                                        layer.msg("修改角色信息失败", {time: 1000, icon: 5, shift: 6}, function () {
                                        });
                                    }

                                });
                                layer.close(index);
                            } else {
                                layer.msg("请选择需要分配的权限节点", {time: 2000, icon: 5, shift: 6}, function () {
                                });
                            }
                        }
                    });
                    $("#edit-nameId").val(str[0].roleName);
                    $("#edit-descriptionId").val(str[0].description);
                    // 根据用户id查询角色渲染树
                    //ZTREE
                    $(function () {
                        init();
                    });

                    function init() {
                        builePlanTree();
                    }

                    function builePlanTree() {
                        var setting = {
                            view: {
                                showIcon: true
                            },
                            data: {
                                simpleData: {
                                    enable: true
                                },
                                key: {
                                    name: "permissionName"  //  发现问题在这里， name属性为节点要显示名字
                                },
                            },
                            check: {
                                enable: true,//开启复选框
                                chkStyle: "checkbox",//样式
                                chkboxType: {"Y": "ps", "N": "ps"},// 勾选操作，影响父和子级节点；取消勾选操作，影响父和子级节点
                            },
                            callback: {}
                        }

                        // 初始化树，数据是动态的，执行ajax程序对tree的数据进行获取，完成树初始化
                        $.ajax({
                            url: basePath + '/permission/selectAllPermissionTreeByRoleId',//这里可以改为服务器端action
                            headers: {
                                "access_token": access_token//此处放置请求到的用户token
                            },
                            type: 'POST',//提交方式
                            dataType: 'text',//数据类型
                            data: {
                                "roleId": str[0].roleId
                            },
                            success: function (treedata) {  //回调函数
                                //alert("树成功函数");
                                var jsonObj = JSON.parse(treedata); //转换为json对象
                                var rootss = jsonObj.roots;
                                var interfaceRoots = jsonObj.interfaceRoots;
                                //页面权限
                                var zNodes = eval(rootss); // eval 可以将返回 json字符串 转换 js 对象
                                //接口权限
                                var zNodeInterfaceRoots = eval(interfaceRoots); // eval 可以将返回 json字符串 转换 js 对象
                                // var zNodes = eval("(" + treedata + ")"); // eval 可以将返回 json字符串 转换 js 对象
                                $.fn.zTree.init($("#editTree"), setting, zNodes); //初始化树
                                $.fn.zTree.init($("#editInterfaceTree"), setting, zNodeInterfaceRoots); //初始化树
                                // var zNodes = eval("(" + treedata + ")"); // eval 可以将返回 json字符串 转换 js 对象
                            },
                            error: function (msg) {
                                layer.alert('树加载异常!');
                            }
                        });
                    }
                }
            } else {
                layer.alert("请选择一条要编辑的数据!")
            }
            ;
        });
    };

    //批量删除角色
    function deleteService() {
        layui.use(['table', 'layer', 'jquery'], function () {
            var table = layui.table
                , layer = layui.layer;
            var checkStatus = table.checkStatus('tableId')
                , data = checkStatus.data;
            //alert(JSON.stringify(data));
            var ids = new Array();
            if (data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    ids[i] = data[i].roleId;
                }
                ;
                layer.confirm('确定删除所选数据吗', {icon: 3, title: '提示'}, function (index) {
                    $.ajax({
                        traditional: true,
                        url: basePath + '/role/deleteRoleAndPermissionByRoleId',
                        headers: {
                            "access_token": access_token//此处放置请求到的用户token
                        },
                        type: 'post',
                        data: {
                            "roleIds": ids
                        },
                        success: function (data) {
                            layer.msg("删除角色成功", {time: 800, icon: 1}, function () {
                                location.reload(true);
                            })
                        },
                        error: function () {
                            layer.msg("删除角色失败，存在关联用户", {time: 800, icon: 2, shift: 6}, function () {
                            })
                        }
                    });
                    layer.close(index);
                });
            } else {
                layer.alert("请选择要删除的数据!")
            }
        });
    };
</script>
</body>
</html>
